* {
    margin: 0;
    padding: 0;
}

.close {
    transform: rotate(-45deg);
    position: absolute;
    right: 5px;
    top: 3px;
}

form {
    margin: 10px;
    background-color: lightgray;
    width: 500px;
    position: relative;
    padding: 15px;
}

form > * {
    display: block;
    margin: 5px;
}